@CHARSET "UTF-8";

#footerbg{
    width: 1000px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    background: url(/img/menuBG_bottom.png) no-repeat top left;
    /* background: url(/img/menuBG_fadedBottom.png) no-repeat top left; */
}
#footercap{

    width: 1000px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}
.footer{
    font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #6A3A29;
    width: 200px;
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

.body{
    background-color: #332954;
}

#pe_container {
	text-align: center;
        display: block;
        margin-left: 10%;
}